<!-- Navbar -->
<div class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="autohide-navbar">
    <div class="container mx-6">
      <a class="navbar-brand" id="my-brand" href="#">iv</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Main</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="nav-spacer"></div>
<br>
<br>